body {
    background-color: #985656;
    font-size: 1.35em;
  }
  #header {
    background-color: #6F5B3E;}
    .purchased {
        text-decoration: line-through;
        background-color: rgb(90, 53, 116);}
        